<h1>Pages#club</h1>
<p>Find me in app/views/pages/club.html.erb</p>

<div class="links">
  <%= link_to "Shop", spree_path %>
  <%= link_to "Club", club_path  %>
  <%= link_to "Member's Page", member_path  %>
  <%= link_to "Home" , root_path %>
</div>
